/* ---------------------ВРЕМЕННО-------------------------------------------------- */
.none {
    display: none;
}

/* ---------------------ШРИФТЫ-------------------------------------------------- */
@font-face {
    font-family: "Onset";
    src: url('../fonts/OnestRegular1602-hint.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Onset";
    src: url('../fonts/OnestMedium1602-hint.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Onset";
    src: url('../fonts/OnestExtraBold1602-hint.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

/* ---------------------ОБНУЛЕНИЕ-------------------------------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Onset';
    font-weight: 400;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

._container {
    margin: 0 auto;
    padding: 0px 16px;
    max-width: 1200px;
    box-sizing: content-box;
}

.button {
    color: #00ACC8;
    border-radius: 30px;
    border: 1px solid #00ACC8;
}

/* -------HEADER-------------------------------------------------------------------------------- */
.header {
    z-index: 90;
    padding: 0px 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 376px) {
    .header {
        padding: 0px 12px;
    }
}

.header__container {
    min-height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 796px) {
    .header__container {
        max-height: 80px;
    }
}

@media (max-width: 376px) {
    .header__container {
        max-height: 61px;
    }
}

.header__logo {
    max-width: 100px;
    min-width: 57px;
    height: 64px;
}

@media (max-width: 796px) {
    .header__logo {
        max-width: 80px;
    }
}

@media (max-width: 376px) {
    .header__logo {
        max-width: 57px;
    }
}

.header__logo>img {
    width: 100%;
    height: 100%;
}

.header__phone-number>a {
    color: #FFF;
}

/* -------PAGE-------------------------------------------------------------------------------- */
.page {
    flex: 1 1 auto;
}

.page__main-block {
    padding: 278px 0px 196px 0px;
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


@media (max-width: 796px) {
    .page__main-block {
        padding: 248px 0px 166px 0px;
    }
}

@media (max-width: 376px) {
    .page__main-block {
        padding: 150px 0px 38px 0px;
    }
}

.page__reflections {
    padding: 153px 0px 50px 50px;
}

@media(max-width: 464px) {
    .page__reflections {
        padding: 161px 0px 50px 28px;
    }
}

/* -------MAIN-BLOCK-------------------------------------------------------------------------------- */
.main-block {}

.main-block__body {
    max-width: 1048px;
    color: #FFF;
}

.main-block__list {}

.main-block__list+* {
    margin-top: 43px;
}

@media (max-width: 634px) {
    .main-block__list+* {
        margin-top: 33px;
    }
}

.main-block__list-item {
    list-style: inside;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 796px) {
    .main-block__list-item {
        font-size: 19px;
    }
}

@media (max-width: 536px) {
    .main-block__list-item {
        font-size: 16px;
    }
}

@media (max-width: 376px) {
    .main-block__list-item {
        font-size: 14px;
    }
}

.main-block__list-item_uppercase {
    text-transform: uppercase;
}

.main-block__title {
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.10);
    font-family: "Roboto", serif;
    line-height: 124%;
    font-size: 50px;
}

@media (max-width: 796px) {
    .main-block__title {
        font-size: 39px;
    }
}


.main-block__title+* {
    margin-top: 52px;
}

@media (max-width: 634px) {
    .main-block__title {
        font-size: 33px;
    }

    .main-block__title+* {
        margin-top: 42px;
    }
}

@media (max-width: 536px) {
    .main-block__title {
        font-size: 28px;
    }
}

@media (max-width: 460px) {
    .main-block__title {
        font-size: 26px;
        max-width: 325px;
    }

    .main-block__title+* {
        margin-top: 39px;
    }
}

.main-block__buttons {
    display: flex;
}

.main-block__buttons+* {
    margin-top: 122px;
}

@media (max-width: 634px) {
    .main-block__buttons+* {
        margin-top: 112px;
    }
}

@media (max-width: 536px) {
    .main-block__buttons {
        flex-wrap: wrap;
    }
}

@media (max-width: 376px) {
    .main-block__buttons+* {
        margin-top: 92px;
    }
}

.main-block__button {
    flex: 0 1 254px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 52px;
    font-weight: 500;
    color: #01131E;
    border: none;
    background-color: #FFFFFF;
}

.main-block__button:not(:last-child) {
    margin-right: 30px;
}

@media (max-width: 536px) {
    .main-block__button {
        flex: 1 1 100%;
        height: 47px;
    }

    .main-block__button:not(:last-child) {
        margin: 0px 0px 16px 0px;
    }
}

@media (max-width: 376px) {
    .main-block__button {
        font-size: 15px;
    }
}

.main-block__button_blue {
    background-color: #089AB3;
    color: #FFFFFF;
}

.main-block__button_blue::before {
    margin-right: 17px;
    content: "";
    width: 15px;
    height: 18px;
    background-image: url(/maxcharm/img/main-block/play.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-block__position {}

.main-block__position>a {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 376px) {
    .main-block__position {
        text-align: center;
    }

    .main-block__position>a {
        font-size: 15px;
        font-weight: 500;
    }
}

.main-block__bg-img {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #757588;
}

.main-block__bg-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 482px) {
    .main-block__bg-img>img {
        object-position: 61% 50%;
    }
}

/* -------REFLECTIONS-------------------------------------------------------------------------------- */
.reflections {}

.reflections__container {
    /* display: flex;
    flex-direction: column; */
}

.reflections__box {
    display: flex;
    flex-direction: column;
}

.reflections__wrapper {
    align-self: center;
    position: relative;
}

.reflections__img {
    margin: 0 auto;
    overflow: hidden;
    width: min-content;
    display: flex;
}

.reflections__img>img {
    width: 369px;
}

@media(max-width: 974px) {
    .reflections__img>img {
        width: 250px;
    }
}

@media(max-width: 743px) {
    .reflections__img>img {
        width: 200px;
    }
}

@media(max-width: 665px) {
    .reflections__img>img {
        width: 135px;
    }
}

.reflections__clouds {}

.clouds {}

.clouds__container {
    position: absolute;
}

.clouds__container_1 {
    top: -64px;
    left: -193px;
}

@media(max-width: 974px) {
    .clouds__container_1 {
        top: -44px;
        left: -158px;
    }
}

@media(max-width: 665px) {
    .clouds__container_1 {
        top: -62px;
        left: -136px;
    }
}

@media(max-width: 464px) {
    .clouds__container_1 {
        top: -86px;
        left: -94px;
    }
}


.clouds__container_2 {
    top: -70px;
    right: -260px;
}

@media(max-width: 974px) {
    .clouds__container_2 {
        top: -70px;
        right: -260px;
    }
}

@media(max-width: 665px) {
    .clouds__container_2 {
        top: -80px;
        right: -148px;
    }
}

@media(max-width: 464px) {
    .clouds__container_2 {
        top: -111px;
        right: -107px;
    }
}


.clouds__container_3 {
    bottom: -42px;
    left: -238px;
}

@media(max-width: 974px) {
    .clouds__container_3 {
        left: -186px;
    }
}

@media(max-width: 665px) {
    .clouds__container_3 {
        left: -154px;
        bottom: -60px;
    }
}

@media(max-width: 464px) {
    .clouds__container_3 {
        left: -106px;
        bottom: -105px;
    }
}


.clouds__container_4 {
    bottom: -51px;
    right: -253px;
}

@media(max-width: 665px) {
    .clouds__container_4 {
        bottom: -74px;
        right: -160px;
    }
}

@media(max-width: 464px) {
    .clouds__container_4 {
        bottom: -123px;
        right: -107px;
    }
}

.clouds__cloud {
    position: relative;
}

.clouds__cloud>img {
    width: 100%;
}

.reflections__text {
    margin: 82px 0px 0px 0px;
    line-height: normal;
    font-size: 20px;
    text-align: center;
}

.reflections__text>p {
    color: #00131E;
}

.reflections__text>h2 {
    color: #00ACC8;
}

@media (max-width: 464px) {
    .reflections__text {
        margin: 146px auto 0px auto;
        width: 283px;
        font-size: 16px;
    }
}


@media(max-width: 974px) {
    .clouds__cloud>img {
        width: 80%;
    }
}

@media(max-width: 665px) {
    .clouds__cloud_1>img {
        width: 133px;
    }
}

@media(max-width: 665px) {
    .clouds__cloud_2>img {
        width: 155px;
    }
}

@media(max-width: 665px) {
    .clouds__cloud_3>img {
        width: 150px;
    }
}

@media(max-width: 665px) {
    .clouds__cloud_4>img {
        width: 160px;
    }
}

.clouds__cloud>p {
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: normal;
    color: #01131E;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 974px) {
    .clouds__cloud>p {
        font-size: 12px;
    }
}

.clouds__cloud_1>p {
    left: 19px;
    width: 130px;
}

@media(max-width: 974px) {
    .clouds__cloud_1>p {
        left: 16px;
        width: 110px;
    }
}

@media(max-width: 665px) {
    .clouds__cloud_1>p {
        left: 17px;
        width: 84px;
        transform: translateY(-44%);
    }
}

.clouds__cloud_2>p {
    left: 66px;
    width: 173px;
    transform: translateY(-39%);
}

@media(max-width: 974px) {
    .clouds__cloud_2>p {
        left: 44px;
        width: 157px;
        transform: translateY(-32%);
    }
}

@media(max-width: 665px) {
    .clouds__cloud_2>p {
        left: 26px;
        width: 125px;
        transform: translateY(-44%);
    }
}

.clouds__cloud_3>p {
    left: 15px;
    width: 173px;
}

@media(max-width: 974px) {
    .clouds__cloud_3>p {
        left: 8px;
        width: 151px;
    }
}

@media(max-width: 665px) {
    .clouds__cloud_3>p {
        left: 28px;
        width: 83px;
        transform: translateY(-61%);
    }
}

.clouds__cloud_4>p {
    left: 52px;
    width: 173px;
    transform: translateY(-58%);
}

@media(max-width: 974px) {
    .clouds__cloud_4>p {
        left: 47px;
        width: 114px;
        transform: translateY(-54%);
    }
}

@media(max-width: 665px) {
    .clouds__cloud_4>p {
        width: 87px;
    }
}